
.sonido_crear {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 80%;
  width: 100%;
}

.sonido_crear .back-button__container {
  width: 90%;
  height: 20%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.back-button__container button {
  background-color: #6B8E9C;
  color: #fff;
  border: none;
  /* padding: 1rem 1rem; */
  font-size: 1.5rem;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 12rem;
  height: 3rem;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
}


.sonido_crear form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 20%;
}

.sonido_crear form label {
  font-size: 1.8rem;
  color: #253237;
  margin: 0.5rem 0;
  font-weight: 600;
}


.sonido_crear form input {
  font-size: 1.7rem;
  width: calc(100% - 2rem);
  height: 2.8rem;
  margin: 0.3rem 0;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 20px;
  background-color: #C2DFE3;
  border: 3px solid #5C6B73;
  margin-bottom: 2.5rem;
}

.sonido_crear form input::placeholder {
  color: #7F98A6;
}

.microphone__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.microphone__container .microphone-icon {
  font-size: 5rem;
  color: #253237;
  margin: 2.5rem 0;
  background-color: #C2DFE3;
  border-radius: 100%;
  width: 8rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  transition: all 0.3s ease;
}

.microphone__container .microphone-icon:hover {
  background-color: #5C6B73;
}

.microphone__container .microphone-icon img {
  width: 5rem;
  height: 5rem;

}

.microphone__container .microphone-icon:active {
  transform: scale(0.9);
}

.microphone__container button {
  background-color: #253237;
  color: #fff;
  border: none;
  margin-top: 3rem;
  font-size: 1.8rem;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 70%;
  height: 5rem;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
}


.microphone__container button:hover {
  background-color: #5C6B73;
  color: #fff;
}

.recorded_container {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  flex-direction: row;

}

.recorded_container img {
  cursor: pointer;
}

.audio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  background-color: #C2DFE3;
  border-radius: 25px;
  width: fit-content;
  border: 2px solid #5C6B73;
}

.waveform {
  background: url('../../../assets/iconos/wave.svg') no-repeat center center;
  background-size: contain;
  display: inline-block;
  width: 200px;
  height: 50px;
}


