<app-navBar></app-navBar>

<div class="home">
  <div class="home__title">
    <h1>Bienvenido a Fitarm</h1>
  </div>
  <div class="tus-alarmas__container">
    <h3>Tus alarmas</h3>
  </div>


  <div class="lista-alarmas__container">
    <div class="lista-alarmas">
      <div class="lista-alarmas__item">
        <p>Alarma 1</p>
        <p>7:30 Am</p>
      </div>

      <div class="lista-alarmas__item">
        <p>Alarma 2</p>
        <p>7:30 Am</p>
      </div>

      <div class="lista-alarmas__item">
        <p>Alarma 3</p>
        <p>7:30 Am</p>
      </div>
    </div>
  </div>
</div>
